* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Inter', sans-serif;
}

body {
  line-height: 1.2;
  background: url("../images/bgimage.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  font-weight: 400;
  min-height: 100vh;
  width: 100%;
}

body .container {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
}

body .container .login-logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  justify-content: flex-end;
  background: url("../images/logobg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

body .container .login-logo-container .login-logo {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 38px;
  text-align: right;
  color: #253274;
}

body .container .social-auth-btn-container {
  padding: 1em 0;
}

body .container .social-auth-btn-container .social-auth-btn-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body .container .social-auth-btn-container .social-auth-btn-display .social-auth-btn {
  background: #FFFFFF;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  outline: none;
  border: 0px solid #000;
  max-width: 140px;
  min-width: 120px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(37, 50, 116, 0.6);
  font-size: 0.9rem;
}

body .container .social-auth-btn-container .social-auth-btn-display .social-auth-btn span {
  margin-right: 0.7em;
  vertical-align: middle;
}

body .container .social-auth-btn-container .social-auth-btn-display .social-auth-btn span img {
  vertical-align: middle;
}

body .container .signing-option-text-container {
  width: 100%;
  position: relative;
  padding: 1em 0;
}

body .container .signing-option-text-container .signing-option-text-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

body .container .signing-option-text-container .signing-option-text-display .signing-option-text {
  position: relative;
  font-size: 0.8rem;
  color: rgba(37, 50, 116, 0.6);
  width: 600px;
  margin: 0 0.8em;
  text-align: center;
}

body .container .signing-option-text-container .signing-option-text-display .signing-option-text-line {
  width: 100%;
  background: rgba(37, 50, 116, 0.15);
  height: 1px;
}

body .container .login-form {
  display: flex;
  flex-direction: column;
}

body .container .login-form .form-display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

body .container .login-form .form-display .email-container, body .container .login-form .form-display .password-container {
  width: 100%;
  padding: 0.3em 0;
}

body .container .login-form .form-display .email-container label, body .container .login-form .form-display .password-container label {
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2;
  color: rgba(37, 50, 116, 0.6);
  transform: scaleX(0.5, 0.2);
}

body .container .login-form .form-display .email-container label .email-input-container, body .container .login-form .form-display .email-container label .password-input-container, body .container .login-form .form-display .password-container label .email-input-container, body .container .login-form .form-display .password-container label .password-input-container {
  border: 1px solid rgba(37, 50, 116, 0.28);
  box-sizing: border-box;
  border-radius: 6px;
  box-sizing: border-box;
  height: 48px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

body .container .login-form .form-display .email-container label .email-input-container span, body .container .login-form .form-display .email-container label .password-input-container span, body .container .login-form .form-display .password-container label .email-input-container span, body .container .login-form .form-display .password-container label .password-input-container span {
  padding: 0em 0.5em;
}

body .container .login-form .form-display .email-container label .email-input-container input, body .container .login-form .form-display .email-container label .password-input-container input, body .container .login-form .form-display .password-container label .email-input-container input, body .container .login-form .form-display .password-container label .password-input-container input {
  height: 100%;
  width: 100%;
  background: none;
  border: 0px solid #000;
  outline: none;
  font-family: 'Inter', sans-serif;
  color: #ABBBC2;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 1em 0 1em;
}

body .container .login-form .form-display .forget-password-container {
  padding: 0.6em 0;
}

body .container .login-form .form-display .forget-password-container .forget-password-display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: rgba(37, 50, 116, 0.6);
  font-size: 0.9rem;
}

body .container .login-form .form-display .submit-btn-container {
  width: 100%;
  padding: 1em 0;
}

body .container .login-form .form-display .submit-btn-container button {
  height: 56px;
  border: 0px solid #000;
  outline: none;
  background: #7189FF;
  border-radius: 6px;
  width: 100%;
  color: #FFFFFF;
}

body .container .new-member-link-container .new-member-link-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

body .container .new-member-link-container .new-member-link-display a {
  color: #7189FF;
  font-size: 0.9rem;
  font-weight: 600;
}
/*# sourceMappingURL=styles.css.map */